<body>

    <div class="box" style="border-radius: 0; padding: 0px;">
        <hr class="nav-line">
        <ul>
            <li><a class="nav" href="/stats/<%= username %>/themeparks">Theme Parks</a></li>
            <li><a class="nav" href="/stats/<%= username %>/manhunt">Manhunt</a></li>
            <li><a class="nav" href="/stats/<%= username %>/creative">Creative</a></li>
            <li><a class="nav" href="/stats/<%= username %>/survival">Survival</a></li>
            <li><a class="nav" href="/stats/<%= username %>/skyblock">Skyblock</a></li>
        </ul>
    </div>

</body>

<script>
    let current_url = document.location;
    document.querySelectorAll(".nav").forEach(function(e){
       if(e.href == current_url){
          e.classList += " current";
       }
    });
</script>

<style>
    ul {
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        padding: 7px;
    }
    li {
        display: block;
        list-style-type: none;
        font-size: 12px;
        color: white;
        transition-duration: 0.4s;
    }
    a:hover {
        color: var(--green);
    }
    a {
        color: white;
        text-decoration: none;
        transition-duration: 0.3s;
    }
    .current {
        color: var(--green);
        text-decoration: underline;
    }
    /* For tablets and desktops */
@media only screen and (min-width: 768px) {
    ul {
        width: 75%;
    }
    li {
        font-size: 20px;
    }
}
</style>