<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/_head-stats') %>
        <title><%= username %> | MCBB Stats</title>
    </head>
    <%- include('../../partials/_header') %>
    <%- include('../../partials/_stats-nav') %>

    <body>
        <div class="grid-container"> <!-- Container -->
            <%- include('../../partials/_general-stats') %> <!-- General Box -->
            <div class="main box"> <!-- Main Box -->



                <!-- ======= Common ======= -->
                <div style="display: flex; flex-wrap: wrap; justify-content: space-around; gap:20px;">

                    <!-- Item -->
                    <%common_stats.forEach(function(entry) {%>
                        <div class="inner-box tooltip">
                            <i class="c-stats fa-solid fa-coins" style="color:rgb(255, 230, 0); font-size: 21px;"></i>
                            <h1 class="c-stats"><%=entry.stat%></h1>
                            <h1 class="c-stats c-stats-value"><%=entry.value%></h1>
                            <span class="tooltiptext">
                                <h1 class="t-heading">WHAT IS IT</h1>
                                <h1 class="t-text"><%=entry.t_what%></h1>
                                <h1 class="t-heading">HOW TO</h1>
                                <h1 class="t-text"><%=entry.t_how%></h1>
                            </span>
                        </div>
                    <%});%>

                </div>



                <!-- ======= Other Stats ======= -->
                <h1 class="heading" style="margin-top: 30px;">Other Stats</h1>
                <div style="display: flex; justify-content: flex-start; margin-bottom: 20px;">
                    <div>
                        <hr class="g-line">
                    </div>
                </div>

                <!-- Item -->
                <%other_stats.forEach(function(entry) {%>
                    <div class="o-stats">
                        <div class="tooltip" style="display: inline;">
                            <span class="fa-stack fa-2x" style="font-size: 15px;">
                                <i class="fa-solid fa-circle fa-stack-2x" style="color:var(--green)"></i>
                                <i class="fa-solid fa-shield-halved fa-stack-1x" style="color:white"></i>
                            </span>
                            <h1 class="c-stats"><%=entry.stat%></h1>
                            <h1 class="c-stats c-stats-value"><%=entry.value%></h1>

                            <span class="tooltiptext">
                                <h1 class="t-heading">WHAT IS IT</h1>
                                <h1 class="t-text"><%=entry.t_what%></h1>
                                <h1 class="t-heading">HOW TO</h1>
                                <h1 class="t-text"><%=entry.t_how%></h1>
                            </span>
                        </div>
                    </div>
                <%});%>



            </div>
        </div>
    </body>
</html>