<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../partials/_head-stats') %>
        <title><%= username %> | MCBB Stats</title>
    </head>
    <%- include('../../partials/_header') %>
    <%- include('../../partials/_stats-nav') %>

    <body>
        <div class="grid-container"> <!-- Container -->
            <%- include('../../partials/_general-stats') %> <!-- General Box -->
            <div class="main box"> <!-- Main Box -->



                <!-- ======= Common ======= -->
                <div style="display: flex; flex-wrap: wrap; justify-content: space-around;">

                    <!-- Coins -->
                    <div class="inner-box">
                        <i class="c-stats fa-solid fa-coins" style="color:rgb(255, 230, 0); font-size: 21px;"></i>
                        <h1 class="c-stats">Coins</h1>
                        <h1 class="c-stats c-stats-value">356</h1>
                    </div>

                    <!-- Coins -->
                    <div class="inner-box">
                        <i class="c-stats fa-solid fa-coins" style="color:rgb(255, 230, 0); font-size: 21px;"></i>
                        <h1 class="c-stats">Coins</h1>
                        <h1 class="c-stats c-stats-value">356</h1>
                    </div>

                    <!-- Coins -->
                    <div class="inner-box">
                        <i class="c-stats fa-solid fa-coins" style="color:rgb(255, 230, 0); font-size: 21px;"></i>
                        <h1 class="c-stats">Coins</h1>
                        <h1 class="c-stats c-stats-value">356</h1>
                    </div>

                    <!-- Coins -->
                    <div class="inner-box">
                        <i class="c-stats fa-solid fa-coins" style="color:rgb(255, 230, 0); font-size: 21px;"></i>
                        <h1 class="c-stats">Coins</h1>
                        <h1 class="c-stats c-stats-value">356</h1>
                    </div>

                    <!-- Coins -->
                    <div class="inner-box">
                        <i class="c-stats fa-solid fa-coins" style="color:rgb(255, 230, 0); font-size: 21px;"></i>
                        <h1 class="c-stats">Coins</h1>
                        <h1 class="c-stats c-stats-value">356</h1>
                    </div>

                    <!-- Coins -->
                    <div class="inner-box">
                        <i class="c-stats fa-solid fa-coins" style="color:rgb(255, 230, 0); font-size: 21px;"></i>
                        <h1 class="c-stats">Coins</h1>
                        <h1 class="c-stats c-stats-value">356</h1>
                    </div>

                    <!-- Coins -->
                    <div class="inner-box">
                        <i class="c-stats fa-solid fa-coins" style="color:rgb(255, 230, 0); font-size: 21px;"></i>
                        <h1 class="c-stats">Coins</h1>
                        <h1 class="c-stats c-stats-value">356</h1>
                    </div>

                    <!-- Coins -->
                    <div class="inner-box">
                        <i class="c-stats fa-solid fa-coins" style="color:rgb(255, 230, 0); font-size: 21px;"></i>
                        <h1 class="c-stats">Coins</h1>
                        <h1 class="c-stats c-stats-value">356</h1>
                    </div>

                    <!-- Coins -->
                    <div class="inner-box">
                        <i class="c-stats fa-solid fa-coins" style="color:rgb(255, 230, 0); font-size: 21px;"></i>
                        <h1 class="c-stats">Coins</h1>
                        <h1 class="c-stats c-stats-value">356</h1>
                    </div>

                </div>



                <!-- ======= Other Stats ======= -->
                <h1 class="heading" style="margin-top: 30px;">Other Stats</h1>
                <div style="display: flex; justify-content: flex-start; margin-bottom: 20px;">
                    <div>
                        <hr class="g-line">
                    </div>
                </div>

                <!-- Total Kills -->
                <div class="o-stats">
                    <span class="fa-stack fa-2x" style="font-size: 15px;">
                        <i class="fa-solid fa-circle fa-stack-2x" style="color:var(--green)"></i>
                        <i class="fa-solid fa-shield-halved fa-stack-1x" style="color:white"></i>
                    </span>
                    <h1 class="c-stats">Total Kills:</h1>
                    <h1 class="c-stats c-stats-value"><%= total_kills %></h1>
                </div>

                <!-- Wins / Looses -->
                <div class="o-stats">
                    <span class="fa-stack fa-2x" style="font-size: 15px;">
                        <i class="fa-solid fa-circle fa-stack-2x" style="color:var(--green)"></i>
                        <i class="fa-solid fa-shield-halved fa-stack-1x" style="color:white"></i>
                    </span>
                    <h1 class="c-stats">Wins / Looses:</h1>
                    <h1 class="c-stats c-stats-value"><%= wins_looses %></h1>
                </div>

                <!-- Games Played -->
                <div class="o-stats">
                    <span class="fa-stack fa-2x" style="font-size: 15px;">
                        <i class="fa-solid fa-circle fa-stack-2x" style="color:var(--green)"></i>
                        <i class="fa-solid fa-shield-halved fa-stack-1x" style="color:white"></i>
                    </span>
                    <h1 class="c-stats">Games:</h1>
                    <h1 class="c-stats c-stats-value"><%= games_played %></h1>
                </div>

                <!-- Mins Played -->
                <div class="o-stats">
                    <span class="fa-stack fa-2x" style="font-size: 15px;">
                        <i class="fa-solid fa-circle fa-stack-2x" style="color:var(--green)"></i>
                        <i class="fa-solid fa-shield-halved fa-stack-1x" style="color:white"></i>
                    </span>
                    <h1 class="c-stats">Total Game Minutes:</h1>
                    <h1 class="c-stats c-stats-value"><%= minutes_played %></h1>
                </div>



            </div>
        </div>
    </body>
</html>